html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
	font-family: 'Roboto', sans-serif;
	margin-bottom:4rem;
}



article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
.clear{clear:both}
header{margin-top:3rem}
header img{
	display: block;
    margin: 0 auto;
    width: 10.5rem;
}
section.title{text-align:center;margin:2rem 0}
section.title h2{
	font-size: 1.6em;
    margin-bottom: 2.3rem;
}
section p{
	text-align: center;
    color: #776c6c;
    margin: 0 auto;
    font-weight: bold;
    font-size: 0.9em;
    width: 100%;
    max-width: 773px;
}
#img-left{
	float:left;
	margin-right: 2rem;
    width: 46%;
}
#form-right{
	float:right;
	width:50%
}
#data-send{
	width:100%;
	max-width:904px;
	margin:0 auto;
}
#frm_sigma{
	-webkit-box-shadow: -1px 0px 12px 2px rgba(0,0,0,0.26);
	-moz-box-shadow: -1px 0px 12px 2px rgba(0,0,0,0.26);
	box-shadow: -1px 0px 12px 2px rgba(0,0,0,0.26);
	border-radius: 19px 19px 19px 19px;
	-moz-border-radius: 19px 19px 19px 19px;
	-webkit-border-radius: 19px 19px 19px 19px;
	border: 0px solid #000000;
	padding:2rem;
	box-sizing:border-box;
}
#frm_sigma label{
	display:block;
	font-weight:bold;
}
#frm_sigma input, select{
	margin:1rem 0 !important;
	display:block;
	border-radius:8px;
	border: 1px solid #ccc;
	padding:0.5rem;
	width:95%;
}
@media screen and (max-width:600px) {}
/*@media screen and (max-width:1600px) {
	.cfotos{width:100%}
	.cfotos img.camera{width:12%}
}*/

@media screen and (max-width:600px) {
    #img-left,#form-right{width:100%;float:none;margin:0 auto}
	 #img-left{margin-bottom:1rem}
	section{padding:0 1rem}
}
button.btn.btn-danger{
	border-radius: 20px;
    padding: 0.5rem;
    width: 8rem;
    font-size: 0.9em;
    font-weight: bold;
    display: block;
    margin: 0 auto;
}